.user-card{
    width: 280px;
    padding: 20px;
    border-radius: 16px;
    background-color: #FFF;
    border: 1px solid #e5e5e5;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    transition: all 0.2s ease;
}
.user-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.10);
}

.user-card h3{
    margin-bottom: 15px;
    font-size: 20px;
}

.user-card p {
    margin: 10px 0;
    color: #555;
}